//size
$max-width: 1150px;

//color
$primary-color: #FCD750;
$secondary-color: #BCE3F5;
$text-color: #2D2C4C;
$btn-color: #20a5e6;
$light-color: #F2F2F2;

//font
$font-family: 'Open Sans', sans-serif;